{
  "transformers": {
    "operationAllow": [],
    "operationDeny": []
  },
  "resolvers": {
    "valueErasers": [],
    "jsonData": [],
    "tasksAllow": null,
    "tasksDeny": [],
    "reportsAllow": null,
    "reportsDeny": []
  }
}