# Generic
DEBUG=false
NEOPS_API_URL=https://neops.io/graphql
NEOPS_API_KEY=
DEVICES_DEFAULT_USERNAME=staging
DEVICES_DEFAULT_PW=staging

# Kea
TFTP_IP=
DNS_IP=
HOOK_DEBUG=false
ADDITIONAL_INFORMATION=true
# NEOPS_UNIQUE_TASK=ztp.init
# HOSTNAME_STARTSWITH=neops-init
HOSTNAME_TASK_MAPPING=neops-init=ztp.init
SSL_NO_VERIFY=false

# ZTP / PNP
PNP_EXT_ADDR=
PNP_EXT_PORT=8080
NEOPS_TASK_NAME=ztp.init
# NEOPS_TASK_MAPPING=[{"path": "ztp_2.py", "task": "ztp2.init"}]
PNP_TEMPLATE=pnp-template-default

# Docker Compose Settings
COMPOSE_PROJECT_NAME=neops-ztp
COMPOSE_PATH_SEPARATOR=:

# Cisco AutoInstall (Config file over TFTP)
# Needs own DHCP for Kea Hook to call the neops API
# COMPOSE_FILE=docker-compose.neops.kea.prod.yml:docker-compose.neops.tftp.prod.yml

# Cisco ZTP (Python script in Guest Shell over TFTP/HTTP) & Cisco PnP (API-driven over HTTPS)
# ZTP / PnP Server calls the neops API directly
COMPOSE_FILE=docker-compose.neops.prod.pnp.yml
